## Pandas

In [2]:
import pandas as pd

DataFrames ues a JSON format to create a table

In [3]:
pd.DataFrame({'Andy': [10,20], 'Tim': [30,40]})

   Andy  Tim
0    10   30
1    20   40

In [4]:
pd.DataFrame({'Andy':['Liked It', 'Didn\'t Like It'], 'Time':['Didn\'t Like It']}, index = ['Item A', 'Item B'])

                  Andy            Time
Item A        Liked It  Didn't Like It
Item B  Didn't Like It  Didn't Like It

Pandas also include Serieses

In [5]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Unlike DataFrames, Serieses are one-dimensional arrays

In [6]:
pd.Series([80,95,92], index=['Math', 'English', 'Science'])

Math       80
English    95
Science    92
dtype: int64

Although creating series or dataframes is useful for small projects, we may find ourselves working with large datasets.

In that case, we'll need to read the datasets using Pandas

In [10]:
test_scores = pd.read_csv("./CalculatedGrades.csv")

In [11]:
test_scores.head()

   Name  Age  English  Maths  TotalScore  Percentage
0   Tom   20      103     38         141       44.06
1   Tom    7       52    158         210       65.62
2  Tony    3      110     18         128       40.00
3   Tom    3       92    151         243       75.94
4  Tony    2      103    155         258       80.62

Adding .shape shows us the dimensions of the DataFrame/Series

In [13]:
test_scores.shape

(100, 6)

Luckily the table has been properly indexed, but if we would like to change the index, we can use **index_col**

In [16]:
test_scores = pd.read_csv("./CalculatedGrades.csv", index_col = 1)
test_scores.head()

     Name  English  Maths  TotalScore  Percentage
Age
20    Tom      103     38         141       44.06
7     Tom       52    158         210       65.62
3    Tony      110     18         128       40.00
3     Tom       92    151         243       75.94
2    Tony      103    155         258       80.62

The table has a lot of data points, and sometimes we may want to isolate specific values/columns.

We can run [dataFrame].[column] to isolate columns/values

In [21]:
test_scores.Name

Age
20     Tom
7      Tom
3     Tony
3      Tom
2     Tony
      ...
0     Tony
3     John
11    Tony
6      Tom
22     Tom
Name: Name, Length: 100, dtype: object

It's also possible to use the [] operator to return a column (i.e test_score['Name']).

In [34]:
test_scores['Name'][0]

0    John
0    John
0    John
0    Tony
Name: Name, dtype: object

test_score['Name'] returns a Series which is like an array. However, to retrieve a retrieve a single cell, the two brackets (['Name'][<number>]) can't be used.
To do this, we need to use iloc (iloc = index location)

Another thing we can use is loc. The **difference between** loc and iloc is that iloc finds a value/cell by uing an **integer**, while loc uses a **string**.

In [33]:
test_scores['Name'].iloc[0]

'Tom'